<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mission Statement</h2>
                <hr class="light">
                <p class="text-faded">Mission statement here...</p>
                <a href="https://maps.app.goo.gl/SC7kXXr2LikMhKYV9" class="btn btn-default btn-xl">Get Directions</a>
            </div>
        </div>
    </div>
</section>
