<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mission Statement</h2>
                <hr class="light">
                <p class="text-faded">Mission statement here...</p>
                <a href="https://www.google.com/maps/dir//2479+Antioch+Church+Rd,+Dewy+Rose,+GA+30634/@34.1144414,-83.0729392,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x88f6321d95bbf909:0x127f250681cbecfc!2m2!1d-82.990529!2d34.1144728?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" class="btn btn-default btn-xl">Get Directions</a>
            </div>
        </div>
    </div>
</section>
